@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли в Ship Management System!</h1>
    <br/>
    <p>Нашата платформа е проектирана с цел да улесни управлението на задачи и екипаж на борда на кораба. 
        С нашите интуитивни инструменти и функционалности в реално време, можете лесно да проследявате изпълнението на задачите, да управлявате екипажа и да оптимизирате работните процеси. 
        Независимо дали сте част от командния състав или член на екипажа, нашата система ви предоставя сигурност, прозрачност и ефективност във всяка операция.</p>
</div>