@{
    ViewData["Title"] = "Политика за поверителност";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
    }
    h1, h2 {
        color: #004080;
    }
</style>
<body>
<div class="container">
    <p>Вашата поверителност е важна за нас. В Ship Management System се ангажираме да защитаваме личните ви данни и да осигурим тяхната сигурност при използването на нашата платформа. Тази политика за поверителност обяснява как събираме, използваме и защитаваме вашата информация.</p>

    <h2>Събиране на информация</h2>
    <p>Ние събираме следните видове информация:</p>
    <ul>
        <li><strong>Лични данни</strong>: като име, имейл адрес и позиция на борда, необходими за създаване на акаунт и достъп до платформата.</li>
        <li><strong>Технически данни</strong>: като IP адрес, тип на браузъра и операционна система, които се събират с цел подобряване на услугите ни и осигуряване на сигурност.</li>
    </ul>

    <h2>Използване на информацията</h2>
    <p>Събраните данни се използват за:</p>
    <ul>
        <li>Управление на задачите и екипажа в платформата.</li>
        <li>Осигуряване на достъп до услугите и функционалностите на системата.</li>
        <li>Подобряване на потребителското изживяване и поддръжка на платформата.</li>
    </ul>

   <h2>Споделяне на информация</h2>
    <p>Ние не споделяме вашата информация с трети страни, освен ако това не е необходимо за осигуряване на функционалностите на системата или когато е изискано от закона.</p>
</div>
</body>