@model ShipManagement.Models.Roles.UserRolesViewModel

<h1>Менижиране на потребители</h1>
<h4>Менижирай роля за @Model.Email</h4>
<hr/>

<form asp-action="ManageUserRoles" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        @foreach (var role in Model.AllRoles.OrderBy(r => r.RoleName))
        {
        <div class="form-check">
            <input class="form-check-input" type="radio" id="role_@role.RoleName" name="SelectedRole" value="@role.RoleName" @(role.Selected ? "checked" : "") />
            <label class="form-check-label" for="role_@role.RoleName">@role.RoleName</label>
        </div>
        }
    </div>
    <button type="submit" class="btn btn-primary">Запази</button>
</form>